*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
    
}

body{display: flex;}


.homepage-header{
    background-image: url("./images/homepage-background-pic.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
    position: absolute;
    height: 100%;
    width: 100%; /* or whatever width you want. */
    

}

.header-container {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

img{
    margin-top: 10px;
    height: 150px;
    width: 150px;
}

.nav-container{
    text-decoration: none;
}


.nav-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 100px;
    text-decoration: none;
    background-color:rgba(238, 238, 238, 0.753);

}

.page-buttons{
    text-decoration: none;
    color: rgb(21, 135, 228);
}

.buttons{
    display: inline-block;
    gap: 20px;
    margin-top: 100px;

}

.square-buttons{
    border-radius: 2em;
    background-color: white;
    color: rgb(21, 135, 228);
}

.motto {
    margin-top: 50px;
    display: flex;
     justify-content: center;
    color: rgb(21, 135, 228);
    padding: 75px;
    background-color:rgba(238, 238, 238, 0.753);
}

.search-container{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.input-box{
    height: auto;
    width: 350px;
    text-align: center;
    font-size: large;
    background-color: white;
    border-radius: 2em;
}

.submit-button{
    border-radius: 2em;
    color: green;
    height:32px;
}


.how-it-works-container{
    margin-top: 600px;
    padding-bottom: 100px;
    background-color: rgb(24, 111, 161);
    text-align: center;
    width: 100%;
    opacity: 0.8;
}

.how-it-works-header{
    padding-top: 50px;
    color: white;
}

.how-it-works-paragraph{
    font-weight: 100;
    opacity: 1;
    color: white;
}

/*About Us*/
.about-us-header{
    background-image: url("./images/about-us-background-pic.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6;
    position: absolute;
    overflow: auto;
    height: 100%;
    width: 100%;
    
    
     /* or whatever width you want. */
    
}


.about-us-container{
    display: flex;
    margin-top: 150px;
    background-color: rgb(24, 111, 161);
    text-align: center;
    width: 100%;
    opacity: 0.8;
}

.about-us-header{
    padding-top: 150px;
    color: white;
}

.about-us-paragraph{
    font-weight: 100;
    opacity: 0.8;
    color: white;
    background-color: rgb(24, 111, 161);
    text-align: center;
    padding: 10px;
}